

body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkcyan;
	
}

.ui-panel{
	margin-bottom:20px;
	width:600px;
	margin-top: 20px;
}


.panelG{
	width: 100%;
}

.inputs{
	width: 100%;
}

.ui-button{
	width: 100px;
	margin-top: 20px;
	
}

.ui-button-text{
	font-size: 12pt;
}

.ui-panel-titlebar	{
	text-align: center;
	background-color: darkcyan;
	text-shadow: 2px 2px 4px darkcyan;
	font-size: 15pt; 
}

.btnCad{
	width: 170px;
	font-size: 12pt;
	margin-left: 284px;
}

	