@charset "UTF-8";

html{
	background-color: darkcyan;
}

.container{
	width: 100%;
	
	margin-top: 20px;
}

.panel-main{
	width: 100%;
}

.ui-panel-titlebar{
	text-align: center;
}	

.inputs{
	width: 100%;
}


.colunm{
	width: 80px;
}

.jqplot-target{
	background-color: aliceblue;
}

.ui-datatable{
	margin-top: 20px;
}
